{% extends 'base.html' %} {% block title %}About{% endblock %} {% block content
%}
<section class="about-section">
  <div class="image-section">
    <img src="../static/images/about-image.jpg" alt="" />
  </div>
  <div class="content-section">
    <div class="ignou_image">
      <img src="../static/images/ignou-logo.png" />
    </div>
    <div class="student-details">
      <div>
        <p>Name</p>
        <h4>ROHAN SONI</h4>
      </div>
      <div>
        <p>Enrollment no.</p>
        <h4>2100183486</h4>
      </div>
    </div>
    <p>Project Synopsis (BCSP - 064)</p>
    <h1>Tourism booking system</h1>
    <h3>Introduction</h3>
    <p>
      Our project is dedicated to simplifying and enhancing the entire travel
      planning and booking process. It provides a user-friendly platform that
      allows travelers to explore a wide range of destinations, book
      accommodations, tours, and activities, all in one place.
    </p>

    <p>
      It's like having a personal travel assistant at your fingertips. With a
      focus on user experience and convenience, this system empowers travelers
      to create personalized itineraries, receive recommendations, and access
      essential information, making their journey as smooth and memorable as
      possible.
    </p>
    <p>
      In the following sections of this project, we will delve deeper into the
      features, functionality, and benefits of our Tourism Booking System. our
      system is designed to cater travel needs, helping you embark on
      unforgettable journeys and discover the world's wonders. With the Tourism
      Booking System, we aspire to inspire wanderlust, promote travel
      accessibility, and enable people to embark on exciting adventures,
      broadening their horizons and creating lasting memories.
    </p>
  </div>
</section>
{% endblock %}
